@use '../variables' as *;

.filter {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__group {
    padding: 0;
    border: none;
    display: flex;
    gap: 12px;

    &_choices {
      gap: 64px;
    }
  }

  &__radio {
    position: absolute;
    appearance: none;
  }

  &__label {
    border-radius: 300px;
    cursor: pointer;
    padding: 16px;
    padding-left: 60px;
    background-color: $white;
    color: $dark;
    background-repeat: no-repeat;
    background-position: center left 16px;
    background-size: 40px;
    transition: background-color 0.3s ease-in-out;

    &_flower {
      background-image: url(/img/filter-flowers.png);
    }

    &_toys {
      background-image: url(/img/filter-bear.png);
    }

    &_postcard {
      background-image: url(/img/filter-congratulat.png);
    }

    &:hover {
      background-color: $orange;
    }
  }

  &__radio:focus-visible + &__label {
    outline: 2px solid $orange;
    outline-offset: 4px;
  }

  &__radio:checked + &__label {
    background-color: $light-orange;
    color: $white;
  }

  &__choices {
  }

  &__select {
    display: flex;
    align-items: center;
    gap: 8px;

    &::after {
      content: '';
      width: 8px;
      height: 8px;
      background: url(/img/arrow.svg) no-repeat center/contain;
    }
  }

  &__input-price {
  }

  &__type-list {
  }

  &__type-item {
  }

  &__type-button {
  }
}
